@import url('variables.css');
@import url('reset.css');
@import url('components.css');
@import url('header.css');
@import url('drawer.css');
@import url('hero.css');
@import url('about.css');
@import url('skills.css');
@import url('cta.css');
@import url('experience.css');
@import url('education.css');
@import url('achievements.css');
@import url('footer.css');