:root {
    --bg: #0b0f17;
    --bg2: #0f1624;
    --card: #121a2a;
    --text: #e9eefc;
    --muted: #9aa6c1;
    --line: rgba(255, 255, 255, .10);
    --shadow: 0 20px 50px rgba(0, 0, 0, .45);
    --radius: 18px;

    --pink: #ff5f57;
    --yellow: #febc2e;
    --green: #28c840;

    --accent: ##6c3bf6;
    --accent2: #33d6ff;
}